.note-container{
  .card{
    min-height: 286px;
    min-width: 280px;
    border-radius: 20px;
    margin-bottom: 16px;
    .note-title{
      //position: absolute;
      //width: 210px;
      //height: 22px;
      //left: 194px;
      //top: 283px;
      margin-top: 15px ;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */

      text-transform: capitalize;

      color: #222222;
    }
    .note-body{
      //position: absolute;
      //width: 340px;
      //height: 108px;
      //left: 194px;
      //top: 321px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 27px;
      /* or 193% */

      text-transform: capitalize;

      color: #000000;
    }
    .note-date{
      position: absolute;
      width: 69px;
      height: 27px;
      left: 24px;
      bottom: 0px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 27px;
      /* identical to box height, or 225% */

      text-transform: capitalize;

      color: #000000;
    }
    .note-star{
      position: absolute;
      right: 15px;
      top: 20px;
      width: 30px;
      height: 30px;
    }
    .note-delete{
      position: absolute;
      right: 50px;
      bottom: 15px;
      width: 30px;
      height: 30px;
    }
    .note-update{
      position: absolute;
      width: 30px;
      height: 30px;
      right: 15px;
      bottom: 15px;

    }
  }
}