.custom-modal {
  .note-title {
    /* New Note */
    margin-top: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #222222;
  }

  .note-close {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 44px;
    top: 43px;
  }

  .note-date {
    margin-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-transform: capitalize;
    color: #655F5F;
  }

  .note-label {

  }

  .circle-picker >span> div{
    border-radius:50%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    height: 40px !important;
    width: 40px !important;
  }

}